:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --logo-link-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-text: rgba(117, 117, 117, 1);
  --third-text: rgba(255, 255, 255, 0.6);
  --hero-color: rgba(47, 48, 58, 1);
  --active-button: rgba(24, 140, 232, 1);
  --second-background: rgba(245, 244, 250, 1);
  --color-border-heade: rgba(236, 236, 236, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
/* сховав точки */
* {
  outline: 1px solid tomato;
}
*,
*::before *::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* pading margim */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
}
/* .container {
  width: 1200;
  margin: 0 auto;
  padding: left 215px;
  padding: left 215px; */
/* LOGOGOGOGOGOGOG */
.link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link-nav {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
}
.logoweb {
  color: var(--logo-link-color);
}
.logo:hover,
.logo:focus {
  color: var(--logo-link-color);
}
/* NAVIGATION */
/* Portfolio */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-link-color);
}
/* tel+adress */
.auth-nav .link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  text-decoration: none;
}
.auth-nav .link-nav:hover,
.auth-nav .link-nav:focus {
  color: var(--logo-link-color);
}
.site-nav .link.curent {
  color: var(--logo-link-color);
}
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-text-color);
  border: 0px;
  padding: 6px 22px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--logo-link-color);
  cursor: pointer;
}
.link-filter {
  text-decoration: none;
}
.filter {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.filter-foto {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
  text-decoration: none;
}
/* footer */
.logofot {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  text-decoration: none;
}
.logo-fotweb {
  color: var(--logo-link-color);
}
.logofot:hover,
.logofot:focus {
  color: var(--logo-link-color);
}
/* adress */
.footerbg {
  background-color: var(--hero-color);
}
.footer-nav .footer-link:hover,
.footer-nav .footer-link:focus {
  color: var(--logo-link-color);
}
.footer-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--third-text);
}
.navigation {
  color: var(--primary-background-color);
}

/* hero section */
.hero {
  background-color: var(--hero-color);
  text-align: center;
}
.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  padding: 195px 452px 0px 452px;
}
.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 205px;
}
.button-hero:hover,
.button-hero:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
}
/* пер(peculiarities)-особливості  */
/* section 2  */

.textsection {
  display: flex;
  margin-left: auto;
  padding-top: 90px;
}
.textbox .peculiarities :not(:first-child) {
  margin-left: 30px;
}
.peculiarities {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.peculiarities-list {
  color: var(--secondary-text);
}
/* section 3  */
.boxcard {
  display: flex;
  padding-top: 50px;
}
.fotowork {
  width: calc((100% - 60px) / 3);
  display: flex;
}
.fotowork {
  margin-right: 30px;
}

.section-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.pading-list {
  padding: 94px 0px 0px 0px;
}
/* section team */

.section-team {
  background-color: var(--second-background);
}
.team-foto-link {
  display: flex;
  padding-top: 50px;
}
.team-workers {
  width: calc((100% - 90px) / 4);
}
.team-workers:not(:first-child) {
  margin-left: 30px;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.team-work {
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text);
}
/* /* cursor зі значенням pointer. */
/* cursor: pointer; */
/*  */
address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
}
.site-nav {
  display: flex;
  align-items: center;
}
.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.logo {
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 24px;
}
.site-nav {
  margin-left: 93px;
}
.site-nav-link:not(:first-child) {
  margin-left: 50px;
}
.link-nav {
  margin-left: 50px;
}
.team {
  padding-top: 30px;
  text-align: center;
}
.team-work {
  padding-top: 10px;
  text-align: center;
}
.footerbg {
  padding-left: 215px;
  padding-top: 32px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 60px;
}
.team-foto-link {
  padding-bottom: 94px;
}
.footer-nav :not(:first-child) {
  margin-top: 9px;
}
.borderteam {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
}
/* portfolio */
.button {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.button :not(:last-child) {
  padding-right: 9px;
}

.header {
  border-bottom: 1px solid var(--color-border-heade);
}
.ultest {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  background-color: yellowgreen;
  width: 370px;
  margin: 15px 15px 0 15px;
}
